@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap&text=Gimana.id");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,700&family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
    /* Custom variables declaration */
    --black: #333333; /* or #1a1a1a? Pokoknya jangan pure black lah, contrast is too stark, bad for the eyes */
    
    font-size: 87.5%;
    font-family: "Nunito Sans", sans-serif;
    color: var(--black);
    
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Barlow", sans-serif;
}