/* :global(body) {
    background-color: rgb(240 240 240); /* Subject to change
} */

.pageWrapper {
    max-width: 1250px; /* Actual value is to be decided later */
    margin: 0 auto;

    padding: 1rem;

    animation: initial-page-entry 0.75s 0.25s backwards; /* TEMPORARY STYLING */  /* or change `backwards` to `both`? */
}

.heroSection {
    display: flex;
    /* color: white; */
    background-color: plum;
    padding: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 0.1);

    margin: 2rem 0;

    /* FIXME */
    padding-bottom: 25rem;
    margin-bottom: -25rem;
}

.heroTexts {
    flex-grow: 1;
}

.heroTitle {
    font-size: 2.5em;
    text-transform: capitalize;

    margin: 0;
    margin-bottom: 0.8em;
}

.heroImage {
    /* FIXME: don't use hardcoded pixel value, probably use rem instead (or pair it with max-width/height) */
    width: 500px;
    height: 375px;
    object-fit: cover;

    border-radius: 0.5rem;
    border: 0.25rem solid white;
    box-shadow: 0 0 0 0.5rem rgb(0 0 0 / 0.1), 0 0 0.25rem rgb(0 0 0 / 0.25);

    flex-shrink: 0;
    margin-left: 2rem;
}

.partCard {
    composes: card from "../components/card.module.css";
    display: block;
    max-width: 80ch;
    margin: 5em auto; /* probably change this to account for ads */ /* Vertical margin is to be decided (later) */

    /* background-color: white;
    border-radius: 0.5rem;
    border: 0.2rem solid black;
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 0.25); */

    padding: 2em;
}

/* .partHeading {
    font-size: 1.5em;
} */

.partNumber {
    margin: 0;
    border-bottom: 0.1em dashed currentColor;
    width: fit-content; /* HACK, to get the "underline" effect to fit the text content only */
    font-size: 1.5em;
}

.partTitle {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    margin: 0;
}

.stepsContainer {
    /* Some resets to the default UA stylings */
    margin: 0;
    padding: 0;
}

.stepItemContainer {
    display: block;
    margin: 1.5em 0; /* To be decided (later) */
}

img.stepImage {
    width: 100%; /* or max-width? */

    /* TODO: What if the image is supposed to be tall and cannot be cut in any way? */
    max-height: 25rem; /* or something like 50vh/80vh/60vh? Don't forget to take account of the header height */
    object-fit: cover;

    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 0.1);
}

.stepExplanationWrapper {
    display: flex;
    align-items: flex-start;
}

.stepNumberMarker {
    font-size: 2em;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-style: italic;
    color: white;

    background-color: #3399D2; /* ? */
    border-radius: 0.25rem;
    padding: 0.25em 0.5em;

    margin-right: 0.5em; /* To be decided later (or probably just put the margin in the paragraph element instead */
}

.stepText {
    margin: 0;
}

.stepText:first-line {
    font-weight: bold;
}

.articleContributorsSection {
    /* The choice between flexbox and `width:fit-content;margin:auto;` which one has the best / better browser coverage/compatibility? */
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 0.1);
}

.articleContributorsSection > h2 {
    margin: 0;
    margin-bottom: 0.5rem;
}

.articleContributorsSection > p {
    margin: 0;
    margin-bottom: 1rem;
}

.articleContributorsContainer {
    /* Some resets to the default UA / standard spec stylings */
    display: block;
    margin: 0;
    padding: 0;
}

.articleContributorWrapper {
    display: block;
    position: relative;
}

.articleContributorAvatarImage {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.articleContributorAvatarImage + .articleContributorUsername {
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    background-color: rgb(0 0 0 / 0.6);
    color: white;
    border-radius: 0.2rem;
    padding: 0.25em 0.5em;

    opacity: 0;
    transition: opacity 0.2s;
}

.articleContributorAvatarImage:hover + .articleContributorUsername {
    opacity: 1;
}

/* TEMPORARY STYLING */
@keyframes initial-page-entry {
    from {
        transform: translateY(10vh);
        opacity: 0;
    }
}