.actionStrip {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionButtons {
    display: flex;
}

.autoGrowingTextArea {
    resize: none;
    font-family: inherit;
    /* font-size: inherit; */

    padding: 0.1em;
    display: block;

    /* transition: max-height 0.25s; */
}

.autoGrowingTextArea::placeholder {
    font-style: italic;
    /* opacity: 0.5; */
}

textarea.heroTitle {
    font-family: "Barlow", sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}

textarea {
    display: block;
    width: 100%;
    padding: 0.1em;
    resize: vertical;

    font-family: inherit;
    font-size: inherit;

    /* Temporary stylings */
    border-radius: 0.2rem;
    /* border: none;
    box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 0.2); */
}

.heroImageUpload {
    position: relative;
}

.partActions {
    display: flex;
    justify-content: space-between;
}

.stepImageUpload {
    height: 10rem;
    position: relative;
}

.stepImageUpload::before, .heroImageUpload::before {
    position: absolute;
    content: "Klik untuk menambahkan gambar";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    color: white;
    background-color: #7e8087;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.addStepButton {
    align-items: center;

    opacity: 0.75;
    cursor: pointer;
    transition: opacity 0.1s;
}

.addStepButton p {
    margin: 0;
}

.addStepButton:hover {
    opacity: 1;
    /* background-color: lightgrey; */
}

.addStepButton:hover p {
    text-decoration: underline;
}

.addPartButton {
    /* font-family: "Barlow", sans-serif;
    font-weight: 300; */
    /* font-size: 1.5em; */
    /* FIXME: Change max-width of card style to not use `ch` unit before applying the above */

    opacity: 0.6;
    transition: opacity 0.2s;

    cursor: pointer;
}

.addPartButton:hover {
    opacity: 1;
    text-decoration: underline;
}