.header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;

    background-color: #ab1691;

    font-family: "Barlow", "Nunito Sans", sans-serif;
}

.tabsContainer {
    display: flex;
    padding: 0.25rem 0.15rem;
    background-color: rgb(0 0 0 / 0.2);

    font-weight: 500;
    border-radius: 0.25rem;
}

.tabItemWrapper {
    display: block;
}

.tabItem {
    display: block;

    color: white;
    text-decoration: none;

    padding: 0.25em 0.5em;
    margin: 0 0.1rem;

    border-radius: 0.1rem;
}

.tabItem:hover {
    background-color: rgb(255 255 255 / 0.1);
}

.tabItem.activeTab {
    background-color: white;
    color: black;
    /* font-weight: 500; /* or 600? or 700? */
}